<head>
     <!-- Main CSS File -->
    <link href="static/css/main.css" rel="stylesheet">
</head>

<body>
    
    <header id="header" class="header d-flex align-items-center fixed-top">
        <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/SignUp">Sign Up</a></li>
            <li><a href="/SignIn">Login</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </header>
  
</body>