<head>
    <!-- Main CSS File -->
   <link href="static/css/main.css" rel="stylesheet">
</head>

<body>
   
   <header id="header" class="header d-flex align-items-center fixed-top">
       <nav id="navmenu" class="navmenu">
       <ul>
           <li><a href="/DataDiri" class="active">Data Diri</a></li>
           <li><a href="/krs">KRS</a></li>
           <li><a href="/DaftarNilai">Daftar Nilai</a></li>
           <li><a href="/LaporanNilai">Laporan Nilai</a></li>
           <li><a href="/GrafikIPK">Grafik IPK</a></li>
           <li><a href="/Logout">Logout</a></li>
       </ul>
       <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
       </nav>
   </header>
 
</body>