<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    
    <!-- Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

</head>

<body>

    {% include 'header.html' %}

    <section id="home" class="home section">
        <div class="container text-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 data-aos="fade-up">Welcome to <span>QuickStart {{ username }}</span></h1>
                <p data-aos="fade-up" data-aos-delay="100">
                    Quickly start your project now and set the stage for success<br>
                </p>
            </div>
        </div>
    </section>

</body>

</html>
